*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {

  /* --bg-clr-Breakfast: linear-gradient(to right, #fdc1c3, #f3adb2, #f77e7e);
  --bg-clr-Lunch: linear-gradient(to right, #c9fdc1, #c5f3ad, #8ef77e);
  --bg-clr-Dinner: linear-gradient(to right, #a27ef7, #adb5f3, #e77ef7);
  --bg-clr-Beverages: linear-gradient(to right, #dbf77e, #ecf3ad, #e7f77e); */

  /* --bg-clr-Breakfast: #dee03b;
  --bg-clr-Lunch: #98b043;
  --bg-clr-Dinner: #416d3d;
  --bg-clr-Beverages: #959e40 ; */



  --txt-clr-dark: #416d3d;
  --text-color-dark-green: #3f6d3e;
  --bg-clr-Breakfast: #f4f5c9;
  --bg-clr-header: white;
  --panorama-clr-1: #e3e545;
  --panorama-clr-2: #3f6d3e;
  --panorama-clr-3: #959e40 ;

  --bg-clr-Breakfast: #f6f7df;
  --bg-clr-Lunch: #c3c5bc;
  --bg-clr-Dinner: #b6cdb3;
  --bg-clr-Beverages: #c6c8bc ;

  --clr-border-green: rgb(120, 242, 142);

  --nav-height: 70px;
}
body {
  background-color: grey;
}
#root {
  max-width: 1280px;
  margin: 40px auto;
  padding-block: 2rem;
  /* padding-inline-start: 20px; */
  text-align: center;
}
/* ***Hero Page *** */
.hero-page {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 1rem;
  background-image: url(./assets/logo/panorama-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 25vh;
  width: 100%;
  /* border-radius: 20px; */
  /* box-shadow: 0 0 8px rgba(55, 55, 55, 0.5); */
}
.hero-page-text {
  /* display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center; */
  margin: 0 auto;
  align-items: center;
  font-size: 1.5rem;
  gap: 10px;
  top: 0%;
  color: var(--text-color-dark-green);
  padding: 1rem;
  width: 100%;

}
@media (min-width: 767px) {
  .hero-page-text {
    font-size: 2rem;
  }
}
/* ****** navBar **** */
.nav-container {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: var(--nav-height);
  background-color: var(--bg-clr-header);
  box-shadow: 1px 2px 2px rgba(55, 55, 55, 0.5);
  /* padding: 1rem; */
  display: flex;

}
.logo-container {
  background-image: url(./assets/logo/panorama-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: var(--clr-bg-one);
  /* border: 2px solid var(--clr-border-green); */
  border-radius: 8px;
  width: 200px;
  padding-inline: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container:hover {
  /* box-shadow: 1px 2px 4px 1px var(--clr-border-green); */
}

.nav-menu {

  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  /* background-color: var(--panorama-clr-1); */
  border-radius: 20px;
  width:60px;
  height: 60px;
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: 10%;

  cursor: pointer;

  background-image: url(./assets/img/burger.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* box-shadow: 2px 2px 4px 0px grey; */
  transition: all 0.3s;
}
.nav-menu:hover {
  width: 50px;
  height: 50px;
  filter: red;
  /* border-radius: 20%; */
  /* box-shadow: -2px -2px 4px 0px grey; */
}
.nav-menu:hover .nav-center-0, .nav-menu:hover .nav-center-1, .nav-menu:hover .nav-center-2 {
  background-color: var(--panorama-clr-2);
  /* box-shadow: 1px 1px 3px rgb(170, 255, 121), -1px -1px 4px rgb(170, 255, 121); */
  /* border-radius: 50%; */
}

.nav-center-0::before{
  display: none;
  content: 'Menu';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  transition: all 0.3s;
}

/* .nav-center-0, .nav-center-1, .nav-center-2 {
  width: 80%;
  height: 8px;
  background-color: var(--panorama-clr-3);
} */
.nav-catagory, .nav-comment {
  display: none;
}
@media (min-width: 768px) {

.nav-menu {
  background-image: none;
  background-color: white;
  padding: 20px;
  position: absolute;
  /* top: 0; */
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 1.25rem;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  top: 10%;
  bottom: 10%;
  right: 20%;
  box-shadow: none;

}
.nav-menu:hover {

  border-radius: 20%;
  box-shadow: none;
  text-decoration: none;
}
.nav-center {
  display: none;
}
.nav-catagory, .nav-comment, .catagory-button, .selected-items-button  {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid var(--clr-border-green);
  box-shadow: 1px 2px 2px rgba(55, 55, 55, 0.5);
  padding: 1rem;
  margin: 0 auto;
  /* margin-top: 0.rem; */
  /* color: var(--txt-clr-dark); */
  border-radius: 10px;

}


.nav-catagory:hover, .nav-comment:hover {
  background-color: var(--txt-clr-dark);
  color: white;

}
}
/* ** MEGAMENU ** */
.mega-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  gap: 10px;
  height: auto;
  width: 100vw;
  /* margin-top: 5px; */
  top: var(--nav-height);
  /* border: 2px red solid; */

  right: 0;
  left: 0;

  background-color: var(--bg-clr-header);
  padding: 1rem;
  z-index: 2;
  box-shadow: 1px 2px 2px rgba(55, 55, 55, 0.5);
}

@media (min-width: 768px) {
  .mega-menu-container {
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    padding: 1rem;
  }
}
.mega-menu-container ul {
  text-decoration: none;
  list-style-type: none;
  text-align: left;
  line-height: 1;
  min-width: 200px;
}

.foods ul li, .drinks ul li, .packages ul li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgba(55, 55, 55, 0.5);
  font-size: 1.25rem;
}
/* Existing CSS remains unchanged */

/* New CSS for menu columns */
.menu-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-inline-start: 20px;

}

.menu-column {
  font-size: 1.25rem;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(55, 55, 55, 0.5);
  /* position: fixed; */
  z-index: 3;
  min-height: 100px;
  flex: 1 1 calc(33.33% - 20px); /* Adjust width here */
}
.menu-column a {
  text-decoration: none;
  line-height: 1.5;
  padding: 8px;
  /* border-radius: 10px; */
  color: black;
  min-width: 100px;
  width: 200px;
  /* border-bottom: 2px solid var(--clr-border-green); */
  transition: all 0.3s;
}
.menu-column a:hover {
  text-decoration: none;
border-radius: 20px;
  border: 2px solid var(--clr-border-green);
  color: black;
}
.menu-flex-container {
  width: 100%;
  display: flex;
  gap: 10px;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;

  padding-block: 20px;
  padding-top: 40px;

}
.menu-flex {
padding: 10px;
  border: 2px solid white;
  border-radius: 20px;
  width: 90%;
  box-shadow: 1px 1px 2px 0 grey, -1px -1px 2px 0 grey;

}
.catagory-header {
  position: absolute;
  top: 0;  /* inportant attribute */
  text-shadow: 1px 1px var(--clr-border-green);
  font-size: 2rem;

}
@media (min-width: 768px) {
  .menu-flex {
  width: 300px;
  margin: 40px 10px 0px 10px;
  }
}

@media (min-width: 999px) {
  .menu-flex {
    width: 400px;
    margin: 40px 10px 0px 10px;
    }
}
@media (min-width: 768px) {
  .menu-flex {
  width: 300px;
  margin: 40px 10px 0px 10px;
  }
}

/* *** FLOATING BUTTONS *** */
.floating-button-container {

  display: flex;
  border-radius: 20px;
  justify-content: space-around;
  border-radius: 20px;
  flex-direction: column;
  gap: 8px;
  padding: 1rem;
  position: fixed;
  height: max-content;
  width: auto;
  top: 100dvh;
  /* right: 5px; */
  transform: translate(0%, -125%);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(55, 55, 55, 0.5);
  bottom: 2rem;
  right: 0.5rem;
  z-index: 3;
}
.floating-buttons {
  display: flex;
  gap: 20px;
}
@media (min-width: 768px) {
  .floating-button-container {
    display: flex;
    border-radius: 20px;
    justify-content: space-around;
    border-radius: 20px;
    flex-direction: column;
    gap: 8px;
    padding: 1rem;
    position: fixed;
    height: max-content;
    width: auto;
    top: 100dvh;
    right: 10px;
    transform: translate(0%, -125%);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(55, 55, 55, 0.5);
    bottom: 2rem;
    right: 2rem;
    z-index: 3;
  }
}
.reset-menu {
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid var(--clr-border-green);
  width: fit-content;
  padding: -10px;
}


.reset-menu::before, .catagory-button::before, .selected-items-button::before {
  /* content:'Reset'; */
  position: absolute;
  font-size: 0.75rem;
  top: 100%;
  left: 50%;
  transform: translate(-50%);

}
.reset-menu::after, .catagory-button::after, .selected-items-button::after {
  /* content:'Reset'; */
  position: absolute;
  font-size: 0.75rem;
  top: -50%;
  left: 50%;
  transform: translate(-50%);

}
.reset-menu::before {
  content: 'Reset';
}
.catagory-button::before {
  content: 'Catagory';
}
.selected-items-button::before {
  content: 'Selected';
}
.reset-menu::after {
  content: 'ከእንድገና';
}
.catagory-button::after {
  content: 'ምድብ';
}
.selected-items-button::after {
  content: 'የተመረጠ';
}
/* *** Message of the day **** */
.message-container {
  height: 25vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--clr-border-green);

}
.message-list {
  list-style: none;
}

/* *** Filter *** */
.filters-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 1rem;
  /* border-radius: 20px; */
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(55, 55, 55, 0.5);
  /* position: fixed; */
  z-index: 3;
}
.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid var(--bg-clr-Beverages);
  border-radius: 20px;
}
.filters-column {
  display: flex;
  gap: 0px;
  flex-direction: column;
  padding: 10px 0px;
  width: 100%;
}
.filters-column div {
  display: flex;
  width: 100%;
  /* background-color: red; */
  padding: 5px;
}
.filters-column select {

  min-width: 100% ;

  padding: 5px;
}
.filters-column div * {
  width: 100%;
  margin: 0 auto;
}
.filters-lable{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: -10px;
    width: 100%;
    margin: 0 auto;
}
@media(min-width: 900px){
  .filters-lable {
    flex-direction: row;
  }
}

  @media (min-width: 768px) {
    .filters-column {
      display: flex;
      gap: 20px;
      flex-direction: row;

    }
    }

.catagory-button, .selected-items-button, .reset-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 1px 2px 2px rgba(55, 55, 55, 0.5);
  position: relative;
  border: 2px solid var(--clr-border-green);
  transition: all 0.3s;

}
 .reset-component {
  animation: rotate 8s linear infinite;
  color: blue;
}
@keyframes rotate {
  from {
    transform: rotate(0deg); /* Starting position */
  }
  to {
    transform: rotate(360deg); /* Ending position (full circle) */
  }
}
.catagory-component{

  color: blue;
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) infinite;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 40%, 70%, 90% {
    transform: translateX(-3px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(3px);
  }
}
/* Styles for the jumping element */
 .selected-component{

  position: relative;
  top: 0;
  color: blue;
  animation: jump 0.5s ease infinite alternate; /* Animation properties */
}

/* Keyframes for the jump animation */
@keyframes jump {
  0% {
    top: 0; /* Initial position */
  }
  50% {
    top: -2px; /* Jumping up position */
  }
  100% {
    top: 0; /* Sitting down position */
  }
}

.selected-items-button-2{

  min-width: 80px;
  max-width: 120px;
  margin: 20px auto;
  /* color: white; */
  /* background-color: #b6cdb3; */
  padding: 0.5rem;
  border: 2px solid var(--clr-border-green);
  cursor: pointer;
  box-shadow: 1px 2px 2px rgba(55, 55, 55, 0.5);
}

.catagory-button:hover, .selected-items-button:hover, .reset-menu:hover {
  /* background-color: rgba(44, 55, 66, 0.8); */
  box-shadow: 1px 2px 2px var(--bg-clr-Breakfast);
}
.catagory-button a,
.selected-items-button a
{
  text-decoration: none;
  color: black;
}
.refresh-total {
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 50px;
  background-color: rgb(237, 176, 176);
  width: max-content;
  padding: 10px;
  cursor: pointer;
  box-shadow: 1px 2px 2px rgba(55, 55, 55, 0.5);

}
.refresh-total:hover {
  background-color: rgb(237, 176, 176, 0.5);
}
/* misselanious */
.select-button {
  height: 20px;
}
.hovering-form{
  background-color: white;
  /* border-radius: 20px; */
  box-shadow: 0 0 10px rgba(55, 55, 55, 0.5);


  padding-block: 50px;
  padding-inline: 10px;
  padding-inline-start: 20px;
  /* position: absolute;
  top: 60%;
  left: 50%;
  transform: translate( -50%); */
  width: 100%;
  z-index: 2;
  margin-top: 5px;
}
.quantity {
  margin-right: 10px;
  color: blue;
  font-size: 1.25rem;
}
.price-text, .quantity-text {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  position: relative;
  background-color: white;
  /* border: 2px solid var(--clr-border-green); */
  padding: 5px;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  margin-top: 20px;
  box-shadow: 1px 1px 2px inset grey, 1px 1px 2px grey, 1px -1px 2px grey, -1px 1px 2px grey;
}
.quantity-text {
  padding-inline: 20px;
}
.price-text::before, .quantity-text::before {

  position: absolute;
  top:  -50%;
  left: -0%;
  color: blue;
  font-size: 0.75rem;
  min-width: 100px;

  height: auto;
  text-align: left;
  padding-inline: 5px;
  margin-bottom: 2px;
}

.price-text::before {
  content: 'Price | ዋጋ';
}
.quantity-text::before {
  content: 'Quantity | ብዛት';

}
/* Catagory colors */
.foods, .drinks, .packages{
  padding: 1rem;
  border-radius: 20px;
  font-size: 1.25rem;
  /* cursor: pointer; */
}

.foods, .Beverages, .packages, .drinks, .Breakfast, .Lunch, .Dinner, .Beverages, .Default-Bg{
  box-shadow: 1px 1px 2px grey, -1px -1px 2px grey;
}
.foods:hover, .Beverages:hover, .packages:hover, .drinks:hover, .Breakfast:hover, .Lunch:hover, .Dinner:hover, .Beverages:hover, .Default-Bg:hover {
  box-shadow: 1px 2px 4px 1px rgba(55, 55, 55, 0.5);
}

.foods {
  border: 4px solid var(--bg-clr-Breakfast);
  box-shadow: 1px 1px 2px grey, -1px -1px 2px grey;
  background: var(--bg-clr-Breakfast);
}
.Beverages {
  border: 4px solid var(--bg-clr-Beverages);
  background: var(--bg-clr-Beverages);
}
.packages {
  border: 4px solid var(--bg-clr-Dinner);
  background: var(--bg-clr-Dinner);
}
.drinks {
  border: 4px solid  var(--bg-clr-Beverages);
  background: var(--bg-clr-Beverages)
}
.Breakfast {
  border: 4px solid var(--bg-clr-Breakfast);
  background: var(--bg-clr-Breakfast);
}
.Lunch {
  border: 4px solid  var(--bg-clr-Lunch);
  background: var(--bg-clr-Lunch);
}
.Dinner {
  border: 4px solid var(--bg-clr-Dinner);
  background: var(--bg-clr-Dinner);
}
.Beverages {
  border: 4px solid  var(--bg-clr-Beverages);
}
.Default-Bg {
  border: 4px solid  var(--bg-clr-Breakfast);
}
/* ***Tweaks*** */
/* Style for the select element */
select {
  /* Change border properties */

  border: 2px solid var(--clr-border-green); /* Border color */
  border-radius: 4px; /* Rounded corners */
  padding-block: 2px; /* Padding top/bottom */
  padding-inline: 8px; /* Padding inside the select box */
  font-size: 16px; /* Font size of the select box text */

  /* width: 100%; */
  max-width: 100px;
  margin-inline-start: 10px;
  margin-block: 4px;
  font-size: 16px; /* Font size of each option */
  background-color: white;
  font-weight: bold; /* Bold text for each option */
  box-shadow: 1px 1px 2px inset grey, 1px 1px 2px grey, 1px -1px 2px grey, -1px 1px 2px grey;

}
.filters-column  select {
  width: 100%;
}
select:hover {
  box-shadow: 1px 1px 2px inset var(--clr-border-green), 1px 1px 2px var(--clr-border-green), 1px -1px 2px var(--clr-border-green), -1px 1px 2px var(--clr-border-green);
}

/* Style for the options inside the select element */
select option {
  /* Change background and text color */
  background-color: var(--bg-clr-Breakfast); /* Background color of options */
  padding: 8px; /* Padding inside each option */
}

/* Hover state for options */
select option:hover {
  background-color: #1fff62; /* Background color on hover */
}

/* Selected option style */
select option:checked {
  background-color: #007bff; /* Background color of the selected option */
  color: #fff; /* Text color of the selected option */

}

button {
  border: 2px solid var(--clr-border-green);
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  height: 50px;
  position: relative;
  top: 20px;
}
.rounded-border {
  border-radius: 20px;
}
.flex-horizontal {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
}
.center-flex {
  justify-content: "center";
  align-items: "center";
}
.padding-inline {
  padding-inline: 10px;
}
.padding-block {
  padding-block: 10px;
}

/************ Contact Css ************/
.contact {
  background: linear-gradient(90.21deg, white -5.91%, white 111.58%);
  padding: 60px 20px 200px 20px;
  width: auto;
  color: black;

}
.contact img {
  width: 92%;
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}
.contact form input, .contact form textarea {
  width: 100%;
  /* background: var(--clr-border-green); */
  border: 1px solid var(--panorama-clr-1);
  border-radius: 20px;
  color: #000;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: black;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.9;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.1s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: var(--panorama-clr-2);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
  box-shadow: 1px 1px 3px 2px var(--panorama-clr-2),  -1px -1px 3px 2px var(--panorama-clr-3);
}
.custom-button {
  margin: 0 auto;
  box-shadow: 1px 1px 2px grey;
  transition: all 0.3s;
}
.custom-button:hover {
  background-color: var(--panorama-clr-2);
  color: white;
  box-shadow: -1px -1px 2px grey;
}